Package: com.peiwithhao.testtweak
Name: testTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Pei WithHao
Author: Pei WithHao
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
